<!DOCTYPE html>
<html>
  <head>
    <% include ./header.ejs %>
  </head>
  <body>
    <% include ./board/body_top.ejs %>
    <% include ./board/board/body.ejs %>
    <% include ./footer.ejs %>
  </body>
</html>
